.additional-news {
    display: flex;
    padding: 0 15px;
    justify-content: space-between;
    filter: drop-shadow(0px 1px 66px rgba(0, 0, 0, 0.05));
    flex-direction: column;
    background: #FFFFFF;
    position: relative;
    z-index: 5;
    &__item {
        background: #fff;
        border-radius: 0;
        padding: 20px 0;
        display: flex;
        width: 100%;
        box-sizing: border-box;    
    }
    &__item:not(:last-child) {
        border-bottom: 1px solid #E6E6E6;
    }
    &__image {
        width: 113px;
        height: 84px;
        position: relative;
    }
    // &__image:before {
    //     content: "";
    //     width: 120px;
    //     height: 75px;
    //     position: absolute;
    //     background: url(../img/bg-icon.png) 0 0 no-repeat;
    //     background-size: 120px 75px;
    //     top: -6px;
    //     left: -5px;
    // }
    &__image img {
        clip-path: url(#cloud);
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 50% 50%;
    }
    &__text {
        margin-left: 10px;
        overflow: hidden;
        width: 70%;
        font-weight: 500;
        font-size: 17px;
        line-height: 120%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        &-reklama {
            display: block;
            font-weight: 300;
            font-size: 13px;
            line-height: 17px;
            color: #05598F;

        }
    }
    &__banner {
        background: url("../img/tree.jpg") 0 0/cover no-repeat;
        border-radius: 15px;
        
        &-text {
            margin-top: 56%;
            position: relative;
            z-index: 3;
            padding: 0 34px 15px 15px;
            box-sizing: border-box;
        }
        h2 {
            font-weight: 720;
            font-size: 20px;
            line-height: 130%;
            color: #fff;
            margin-top: 0;
            margin-bottom: 9px;
        }
        span {
            font-weight: 400;
            font-size: 12px;
            line-height: 15px;
            color: #7D9FB6;
        }
        &:before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 195px;
            background: linear-gradient(180deg, rgba(5, 89, 143, 0) 13.2%, rgba(5, 89, 143, 0.8) 49.69%), linear-gradient(179.78deg, rgba(27, 69, 97, 0) 0.19%, #1B4561 45.89%);
            opacity: 0.9;
            border-radius: 0 0 15px 15px;
        }
    }
}