.big-news-list-block {
    margin-top: 20px;
    &__date {
        display: flex;
        align-items: center;
        padding-top: 20px;
    }
    &__date span {
        text-transform: uppercase;
        font-weight: 400;
        font-size: 20px;
        margin-left: 10px;
    }
}
.big-news-list-no-image, .big-news-list-with-image {
    border-bottom: 1px solid #E6E6E6;
    padding-top: 20px;
    span {
        font-size: 14px;
        color: #797979;
    }
    h2 {
        font-size: 24px;
        line-height: 31px;
        font-weight: 600;
    }
    &__icons {
        display: flex;
    }
    &__item {
        margin-right: 20px;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
    }
    &__item img {
        margin-right: 5px;
    }
    iframe {
        max-width: 630px ;
        max-height: 361px;
        width: 100%;
        margin-bottom: 20px;
    }
    
}
.big-news-list-with-image {

    &__image {
        max-width: 630px;
        max-height: 254px;
        object-fit: cover;
        margin: 16px 0 10px 0;
    }
    &__text {
        position: relative;
        padding-left: 15px;
        font-weight: 600;
    }
    &__text:before {
        content: "";
        width: 4px;
        height: 100%;
        position: absolute;
        background: #E41F12;
        top: 0;
        left: 0;
    }
    img {
        width: 100%;
        max-width: 630px;
        object-fit: cover;
        margin-bottom: 20px;
    }
   &__item img {
    object-fit: contain;
    width: auto;
   }
}
.main-news-list button {
    width: 100%;
    border: 1px solid #E6E6E6;
    color: #000;
    font-size: 19px;
    background: #fff;
    font-weight: 400;
    padding: 20px 0;
    margin-top: 20px;
    margin-bottom: 40px;
    cursor: pointer;
}
.main-news-list button:hover {
    color: #fff;
    background: #05598F ;
}
.extreme-news-list {
    max-width: 715px;
    margin: 0 auto;
    margin-bottom: 40px;
}
.extreme-news-list .big-news-list-no-image h2 {
    font-weight: 500;
}
.big-news-list-with-banner .news-banner {
    background: url(/img/bg-map.png) no-repeat;
    background-color: #05598F;
    position: relative;
    background-size: 117%;
    background-position: 50% 18%;
}
.big-news-list-with-banner .news-banner img {
    max-width: 50px;
    width: 100%;
    position: absolute;
    top: 10px;
    right: 10px;
}
.big-news-list-with-banner .news-banner h2 {
    padding-top: 110px;
    padding-bottom: 104px;
    text-align: center;
    font-weight: 6000;
    font-size: 36px;
    line-height: 46px;
    color: #fff;
}
.big-news-list-with-banner-date .news-banner img {
    max-width: 50px;
    width: 100%;
    position: absolute;
    top: 10px;
    right: 10px;
}
.big-news-list-with-banner-date .news-banner {
    background-color: #05598F;
    position: relative;
    padding-bottom: 36px;
    text-align: center;
    margin-bottom: 30px;
}
.big-news-list-with-banner-date .news-banner::before {
    content: "";
    background: url(/img/news-banner-bg.svg) no-repeat 0 0;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    mix-blend-mode: multiply;
    background-size: cover;
}
.big-news-list-with-banner-date .news-banner::after {
    content: "";
    position: absolute;
    // width: 56px;
    // height: 56px;
    // background: #064F7D;
    top: 0;
    left: 0;
    border: 28px solid transparent; 
    border-left: 28px solid #064F7D; 
    border-top: 28px solid #064F7D;
}
.big-news-list-with-banner-date .news-banner h2 {
    font-weight: 600;
    font-size: 36px;
    line-height: 46px;
    color: #fff;
    padding-top: 91px;
}
.big-news-list-with-banner-date .news-banner span {
    font-weight: 600;
    font-size: 24px;
    line-height: 31px;
    color: #fff;
    padding-bottom: 48px;
    padding-bottom: 48px;
    display: block;
}
.big-news-list-with-banner-date .news-banner .news-banner-line {
    max-width: 217px;
    width: 100%;
    height: 1px;
    border-bottom: 1px solid #fff;
    margin: 0 auto;
}