.sity-news {
    background: #F8FAFB;
    margin: 0 -74px;
    position: relative;
    @media all and (max-width:1500px) {
        margin: 0 -30px;
    }
    &__in {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 32px 34px;
        box-sizing: border-box;
    }
    &__item {
        background: #fff;
        padding: 35px 20px;
        display: block;
        text-decoration: none !important;
        button {
            width: 100%;
            background: #05598F;
            padding: 10px 23px;
            color: #fff;
            border: none;
            cursor: pointer;
            margin-top: 20px;
        }
    }
    &__logo {
        text-align: center;
        padding: 20px 0;
        a {
            display: block;
        }
        img {
            margin-bottom: 10px;
        }
        span {
            display: block;
        }
        .email {
            font-weight: 600;
            font-size: 21px;
            line-height: 27px;
            color: #05598F;
        }
        .city {
            font-weight: 720;
            font-size: 23px;
            line-height: 29px;
            text-transform: uppercase;
            color: #05598F;
        }
        .news {
            font-weight: 720;
            font-size: 23px;
            line-height: 29px;
            text-transform: uppercase;
            color: #000000;
        }
    }
    &__line {
        max-width: 168px;
        width: 100%;
        height: 1px;
        border-bottom: 1px solid #05598F;
        margin-top: 15px;
        margin-bottom: 20px;
    }
    &__text {
        p {
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            color: #05598F;
            margin-bottom: 10px;
        }
        span {
            display: block;
            font-weight: 400;
            font-size: 13px;
            line-height: 17px;
        }
    }
    &__item:hover .email,
    &__item:hover .city,
    &__item:hover .news {
        text-decoration: underline;
    }
}

.owl-carousel .owl-nav.disabled, .owl-carousel .owl-dots.disabled {
    display: block;
}
.owl-carousel button.owl-dot {
    color: #05598F;
    background: none;
}
.owl-prev, .owl-next {
    background: url("../img/slider-arrow.svg") 0 0/cover no-repeat;
    position: absolute;
    top: 50%;
    span {
        font-size: 0;
        display: block;
        width: 11px;
        height: 18px;
    }
}
.owl-next {
    transform: rotate(180deg);
    right: 17px;
}
.owl-prev {
    left: 17px;
}