* {
    scroll-behavior: smooth;
    // font-family: "ALSHauss";
    // grfgnjn
    font-family: "ALSHaussVF";
    color: #0B0B0B;
    font-size: 16px;
}
body {
    background: #FFFFFF;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}

.content-block {
    width: 100%;
    margin: 0 auto;
    position: relative;
    // padding: 0 15px;
    box-sizing: border-box;
    
}
.content-container {
    box-sizing: border-box;
    position: relative;
    padding-top: 20px;
    padding-bottom: 40px;
}
footer {
    background: #0D2737;
    padding: 0 81px 0 101px;

}

