.tags-block {
    &__title {
        font-size: 22px;
        display: block;
        margin-top: 20px;
        margin-bottom: 17px;
    }
}
.div-tags a span {
    margin-right: 7px;
    font-weight: 400;
    color: #797979;
}
.div-tags a {
    color: #797979;
}