.news-categories-block {
    &__in {
        display: flex;
        align-items: center;
        span {
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;
            margin-right: 10px;
        }
    }
    &__category {
        border: 1px dashed #A9A9A9;
        border-radius: 4px;
        font-weight: 300;
        font-size: 14px;
        line-height: 18px;
        color: #797979;
        margin-right: 10px;
        padding: 4px;
    }
}