.detale-news-block {
    padding: 20px 15px 0 15px;
    &__in {
        a {
            font-weight: 300;
            font-size: 14px;
            line-height: 18px;
            color: #797979;
        }
        .category {
            margin-left: 25px;
        }
        h2 {
            font-weight: 600;
            font-size: 27px;
            line-height: 120%;
            color: #0B0B0B;
            margin-top: 10px;
            margin-bottom: 20px;
        }
    }
    &__image {
        position: relative;
        margin-bottom: 20px;
        img {
            width:100%;
        }
    }
    // &__image-mask {
    //     position: absolute;
    //     top: 17px;
    //     right: 12.5px;
    // }
    // &__socials {
    //     display: flex;
    //     align-items: center;
    //     span {
    //         font-size: 14px;
    //         line-height: 18px;
    //         color: #797979;
    //         margin-right: 28px;
    //     }
    // }
    // &__social {
    //     background: #F8FAFB;
    //     border-radius: 3px;
    //     padding: 8px 0 8px 18px;
    //     a img {
    //         margin-right:22px;
    //     }
        
    // }
    &__text {
        font-size: 16px;
        font-weight: 400;
        line-height: 130%;
        color: #0B0B0B;
        margin-top: 20px;
    }
}
// .detale-news-block-icon {
//     display: flex;
//     align-items: center;
//     margin-bottom: 21px;
//     &__item {
//         display: flex;
//         align-items: center;
//         margin-right: 20px;
//         span {
//             font-size: 14px;
//             line-height: 18px;
//             color: #797979;
//             display: block;
//         }
//         img {
//             margin-right: 10px;
//         }
        
//     }
// }