
.footer-logo-flex {
    display: flex;
    font-weight: 500;
    align-items: center;
    justify-content: space-between;
    &__logo {
    display: flex;
    justify-content: space-between;
    }
    &__image {
        margin-right: 12px;
        max-width: 53px;
    }
    &__name {
        width: 60%;
    }
    &__name span {
        display: block;
        color: #fff;
        font-weight: 700;
        font-size: 13px;
        line-height: 17px;
        text-transform: uppercase;
    }
    &__years {
        margin-right: 45px;
    }
    &__years span {
        color: #fff;
    }
    &__years {
        .coopy-mobile {
            display: block;
            font-weight: 400;
            font-size: 12px;
            line-height: 140%;
            color: #D3D3D3;
        }
        
    }
    
}
.footer-info-flex {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    &__left {
        margin-bottom: 30px;
    }
    &__item table {
        margin-top: 30px;
        border-bottom: 1px solid #445661;
         padding-bottom: 39px;
        
    }
    &__item table a {
        color: #fff;
    }
    &__item table a.blue {
        color: #73C8FF;
    }
    &__item table tr{
        margin-bottom: 3px;
        vertical-align: top;
    }
    &__item table td {
        color: #fff;
        font-size: 15px;
        font-weight: 400;
        width: 50%;
        padding-bottom: 15px;
    }
    &__item table td:first-child {
        color: #D3D3D3;
    }
    &__right {
        max-width: 100%;
        border-bottom: 1px solid #445661;
        padding-bottom: 16px;
        
    }
    &__right p {
        font-size: 15px;
        color: #fff;
        font-weight: 400;
    }
    &__right p:nth-last-of-type(-n+2) {
            display: none;
        
    }
}
.footer-bottom-block {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 24px;
    padding-bottom: 0;
    
    &__left p {
        color: #fff;
        font-weight: 400;
        font-size: 15px;
    }
    &__right {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .footer-links a {
            display: block;
            margin-right: 2px;            
        }
        .footer-links {
                display: flex;
                align-items: center;
        }
        .footer-years {
            font-weight: 400;
            font-size: 15px;
            line-height: 190%;
            color: #fff;
            margin-right: 8px;
        }
    }
    &__menu {
        margin-top: 30px;
        margin-bottom: 48px;
    }
    &__politika {
        font-weight: 400;
        font-size: 16px;
        line-height: 130%;
        color: #73C8FF;
        margin-bottom: 22px;
        display: block;
    }
    &__menu-list {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;
    }
    &__menu-list li a {
        font-weight: 400;
        font-size: 16px;
        line-height: 130%;
        color: #73C8FF;
        margin-right: 28px;
    }
}
.blue {
    color: #73C8FF;
}