.title-extreme-news {
    padding: 0 15px;
    margin-top: 0;
    &__in {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__item {
        display: flex;
        align-items: center;
        margin: 5px 0;
        // ul {
        //     list-style: none;
        //     padding: 0;
        //     margin-left: 15px;
        // }
        // ul li a{
        //     font-weight: 600;
        //     font-size: 24px;
        //     line-height: 31px;
        // }
        h2 {
            font-weight: 600;
            font-size: 32px;
            line-height: 41px;
            margin: 0;
            margin-right: 15px;
        }
        span {
            font-weight: 300;
            font-size: 16px;
            line-height: 20px; 
            color: #A9A9A9; 
            display: block;
            margin-top: 4px;
        }
        div {
            font-weight: 300;
            font-size: 24px;
            line-height: 31px
        }
    }
}