.social-network-block {
    span {
        display: block;
        width: 47%;
        color: #797979;
        font-size: 14px;
        margin-bottom: 6px;
    }
    img {
        margin-right: 5px;
    }
}